In [32]:
import pandas as pd

In [12]:
pd.read_csv('https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv')

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570
...,...,...,...,...,...,...,...,...,...,...,...
29518,f1_fuel_2018_12_12_0_13,12,2018,neil simpson ct #1,gas,mcf,18799.0,1.059,4.78,4.78,9.030
29519,f1_fuel_2018_12_12_1_1,12,2018,cheyenne prairie 58%,gas,mcf,806730.0,1.050,3.65,3.65,6.950
29520,f1_fuel_2018_12_12_1_10,12,2018,lange ct facility,gas,mcf,104554.0,1.060,4.77,4.77,8.990
29521,f1_fuel_2018_12_12_1_13,12,2018,wygen 3 bhp 52%,coal,ton,315945.0,16.108,3.06,14.76,1.110
29522,f1_fuel_2018_12_12_1_14,12,2018,wygen 3 bhp 52%,gas,mcf,17853.0,1.059,0.00,0.00,11.680

In [13]:
elect= pd.read_csv('https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv')

In [14]:
print(elect)

                     record_id  utility_id_ferc1  report_year  \
0        f1_fuel_1994_12_1_0_7                 1         1994
1       f1_fuel_1994_12_1_0_10                 1         1994
2        f1_fuel_1994_12_2_0_1                 2         1994
3        f1_fuel_1994_12_2_0_7                 2         1994
4       f1_fuel_1994_12_2_0_10                 2         1994
...                        ...               ...          ...
29518  f1_fuel_2018_12_12_0_13                12         2018
29519   f1_fuel_2018_12_12_1_1                12         2018
29520  f1_fuel_2018_12_12_1_10                12         2018
29521  f1_fuel_2018_12_12_1_13                12         2018
29522  f1_fuel_2018_12_12_1_14                12         2018

           plant_name_ferc1 fuel_type_code_pudl fuel_unit  fuel_qty_burned  \
0                  rockport                coal       ton        5377489.0
1      rockport total plant                coal       ton       10486945.0
2                    gorgas                coal       ton        2978683.0
3                     barry                coal       ton        3739484.0
4                 chickasaw                 gas       mcf          40533.0
...                     ...                 ...       ...              ...
29518    neil simpson ct #1                 gas       mcf          18799.0
29519  cheyenne prairie 58%                 gas       mcf         806730.0
29520     lange ct facility                 gas       mcf         104554.0
29521       wygen 3 bhp 52%                coal       ton         315945.0
29522       wygen 3 bhp 52%                 gas       mcf          17853.0

       fuel_mmbtu_per_unit  fuel_cost_per_unit_burned  \
0                   16.590                      18.59
1                   16.592                      18.58
2                   24.130                      39.72
3                   23.950                      47.21
4                    1.000                       2.77
...                    ...                        ...
29518                1.059                       4.78
29519                1.050                       3.65
29520                1.060                       4.77
29521               16.108                       3.06
29522                1.059                       0.00

       fuel_cost_per_unit_delivered  fuel_cost_per_mmbtu
0                             18.53                1.121
1                             18.53                1.120
2                             38.12                1.650
3                             45.99                1.970
4                              2.77                2.570
...                             ...                  ...
29518                          4.78                9.030
29519                          3.65                6.950
29520                          4.77                8.990
29521                         14.76                1.110
29522                          0.00               11.680

[29523 rows x 11 columns]

In [15]:
elect.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [16]:
elect.groupby('fuel_unit')['fuel_unit'].count()

fuel_unit
bbl        7998
gal          84
gramsU      464
kgU         110
mcf       11354
mmbtu       180
mwdth        95
mwhth       100
ton        8958
Name: fuel_unit, dtype: int64

In [22]:
print(elect)

                     record_id  utility_id_ferc1  report_year  \
0        f1_fuel_1994_12_1_0_7                 1         1994
1       f1_fuel_1994_12_1_0_10                 1         1994
2        f1_fuel_1994_12_2_0_1                 2         1994
3        f1_fuel_1994_12_2_0_7                 2         1994
4       f1_fuel_1994_12_2_0_10                 2         1994
...                        ...               ...          ...
29518  f1_fuel_2018_12_12_0_13                12         2018
29519   f1_fuel_2018_12_12_1_1                12         2018
29520  f1_fuel_2018_12_12_1_10                12         2018
29521  f1_fuel_2018_12_12_1_13                12         2018
29522  f1_fuel_2018_12_12_1_14                12         2018

           plant_name_ferc1 fuel_type_code_pudl fuel_unit  fuel_qty_burned  \
0                  rockport                coal       ton        5377489.0
1      rockport total plant                coal       ton       10486945.0
2                    gorgas                coal       ton        2978683.0
3                     barry                coal       ton        3739484.0
4                 chickasaw                 gas       mcf          40533.0
...                     ...                 ...       ...              ...
29518    neil simpson ct #1                 gas       mcf          18799.0
29519  cheyenne prairie 58%                 gas       mcf         806730.0
29520     lange ct facility                 gas       mcf         104554.0
29521       wygen 3 bhp 52%                coal       ton         315945.0
29522       wygen 3 bhp 52%                 gas       mcf          17853.0

       fuel_mmbtu_per_unit  fuel_cost_per_unit_burned  \
0                   16.590                      18.59
1                   16.592                      18.58
2                   24.130                      39.72
3                   23.950                      47.21
4                    1.000                       2.77
...                    ...                        ...
29518                1.059                       4.78
29519                1.050                       3.65
29520                1.060                       4.77
29521               16.108                       3.06
29522                1.059                       0.00

       fuel_cost_per_unit_delivered  fuel_cost_per_mmbtu
0                             18.53                1.121
1                             18.53                1.120
2                             38.12                1.650
3                             45.99                1.970
4                              2.77                2.570
...                             ...                  ...
29518                          4.78                9.030
29519                          3.65                6.950
29520                          4.77                8.990
29521                         14.76                1.110
29522                          0.00               11.680

[29523 rows x 11 columns]

In [18]:
elect[['fuel_unit']]=elect[['fuel_unit']].fillna(value='mcf')

In [20]:
print(elect[['fuel_unit']])

      fuel_unit
0           ton
1           ton
2           ton
3           ton
4           mcf
...         ...
29518       mcf
29519       mcf
29520       mcf
29521       ton
29522       mcf

[29523 rows x 1 columns]

In [34]:
import numpy as np

In [35]:
elect_array = np.array('elect')

In [37]:
elect.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [40]:
elect.skew(axis=0, skipna=True)

utility_id_ferc1                  0.605070
report_year                       0.006953
fuel_qty_burned                  15.851495
fuel_mmbtu_per_unit               4.135217
fuel_cost_per_unit_burned        19.787440
fuel_cost_per_unit_delivered    105.014227
fuel_cost_per_mmbtu             171.675535
dtype: float64